html {
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}

body {
  margin:0;
  padding:0;
  background-color: blue;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 500px;
  height: 500px
}
    
td, th {
  border: 1px solid #dddddd;
  text-align: left;
}
    
tr:nth-child(even) {
  background-color: #dddddd;
}