html {
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}

body {
    margin:0;
    padding:0;
    background-color: transparent;
}

{{font_face}}

table {
  font-family: pickedfont;
  border-collapse: collapse;
  font-size: 16,
  width: {{table_width}};
  height: {{table_height}};
}

td {
  /* border: {{td_border_px}} solid {{td_border_color}}; */
  text-align: {{td_text_align}};
  border-left: solid {{td_border_color}} {{td_border_vertical_px}};
  border-right: solid {{td_border_color}} {{td_border_vertical_px}};
  border-top: solid {{td_border_color}} {{td_border_horizontal_px}};
  border-bottom: solid {{td_border_color}} {{td_border_horizontal_px}};
}

tr:nth-child({{tr_n_child}}) {
  background-color: {{tr_back_color}};
}

th {
  background-color: {{th_back_color}};
  border: {{th_border_px}} solid {{th_border_color}};
}